xmltodict==0.11.0
boto3==1.4.6
gearman==2.0.2
mammoth
cachetools
html2text
dicttoxml
ShopifyAPI
zklib
webcolors
duplicity
numpy==1.14.3
openpyxl==2.4.2
pyBarcode==0.8b1
xlrd
redis==2.10.6
google-cloud-storage==1.13.0
six==1.9.0
xlsxwriter==0.9.3